@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chart-bg-color: rgba(255,99,132,0.4);
  --chart-border-color: red;
  --chart-border-width: 5
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.bills-td {
  @apply py-3 px-4 text-left whitespace-nowrap
}

.payrolls-th {
  @apply pr-5 text-left font-medium text-black-300 whitespace-nowrap
}

.payrolls-td {
  @apply py-2 pr-4 text-sm font-bold text-left text-black-500 whitespace-nowrap
}

.scrollbar {
  @apply scrollbar-thin scrollbar-thumb-black-300/50 scrollbar-track-zinc-200 scrollbar-track-rounded-full scrollbar-thumb-rounded-full hover:scrollbar-thumb-black-300/80;
}

.animate{
  animation: animatezoom 0.5s
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


